
<div class="h-100">
  <form class="container" [formGroup]="vatForm" id="vatForm">
    <mat-radio-group [class.mb-1]="!(vatForm.touched && vatForm.controls['selectedTax'].invalid)" formControlName="selectedTax">
      <mat-radio-button value="10" class="mr-1">10%</mat-radio-button>
      <mat-radio-button value="13" class="mr-1">13%</mat-radio-button>
      <mat-radio-button value="20">20%</mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf="vatForm.touched && vatForm.controls['selectedTax'].invalid" class="mb-1">
      <span *ngIf="vatForm.controls['selectedTax'].errors && vatForm.controls['selectedTax'].errors['required']">This field is mandatory.</span>
    </mat-error>
    <mat-radio-group formControlName="selectedField">
      <div>
        <mat-radio-button value="net" class="mr-1"></mat-radio-button>
        <mat-form-field appearance="fill">
          <mat-label for="net">Net</mat-label>
          <input matInput id="net" formControlName="net" type="number">
        </mat-form-field>
        <mat-error *ngIf="vatForm.touched && vatForm.controls['net'].errors" class="mb-1">
          <span>This field must be a numeric value.</span>
        </mat-error>
      </div>
      <div>
        <mat-radio-button value="gross" class="mr-1"></mat-radio-button>
        <mat-form-field appearance="fill">
          <mat-label for="gross">Gross</mat-label>
          <input matInput id="gross" formControlName="gross"  type="number">
        </mat-form-field>
        <mat-error *ngIf="vatForm.touched && vatForm.controls['gross'].errors" class="mb-1">
          <span>This field must be a numeric value.</span>
        </mat-error>
      </div>
      <div>
        <mat-radio-button value="vat" class="mr-1"></mat-radio-button>
        <mat-form-field appearance="fill">
          <mat-label for="vat">V.A.T.</mat-label>
          <input matInput id="vat" formControlName="vat"  type="number">
        </mat-form-field>
        <mat-error *ngIf="vatForm.touched && vatForm.controls['vat'].errors" class="mb-1">
          <span>This field must be a numeric value.</span>
        </mat-error>
      </div>
    </mat-radio-group>
  </form>
</div>